<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gimesto</title>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css">
    <link rel="stylesheet" href="../gimesto.css" type="text/css" />
  </head>
  <body>
    <!-- Header Section Start -->
    <header class="header">
        <div class="logo">
            <a href="../index.html">Gimesto</a>  
        </div>
            <ul class="header-nav">
                <li>
                    <a href="https://github.com/vrx29/">
                        <i class="bi bi-github github-icon"></i>
                         github
                    </a>
                </li>
                <li>
                    <button class="menu">
                        <i id="menu-icon" class="bi bi-list"></i>
                    </button>
                </li>
            </ul>  
    </header>
    <!-- Header Section End -->

    <!-- Main Section Start -->
    <main class="doc-container">
        <!-- Sidebar Section Start -->
        <nav class="sidebar">
            <!-- Getting Started Navigation Start -->
            <div>
                <div class="list-topic">
                    <a  href="#">GETTING STARTED</a>
                </div>
                <ul class="list-subtopic">
                    <li >
                        <a href="/components/installation.html">Installation</a>
                    </li>
                    <li>
                        <a  class="active" href="#">Colors</a>
                    </li>
                    <li>
                        <a href="/components/typography.html">Typography</a>
                    </li>
                </ul>
            </div>
            <!-- Getting Started Navigation End -->

            <!-- Components Navigation Start -->
           <div>
                <div class="list-topic">
                    <a class="" href="#">COMPONENTS</a>
                </div>
                <ul class="list-subtopic">
                    <li>
                        <a href="/components/avatar.html">Avatar</a>
                    </li>
                    <li>
                        <a href="/components/alert.html">Alert</a>
                    </li>
                    <li>
                        <a href="/components/badge.html">Badge</a>
                    </li>
                    <li>
                        <a href="/components/button.html">Button</a>
                    </li>
                    <li>
                        <a href="/components/card.html">Card</a>
                    </li>
                    <li>
                        <a href="/components/image.html">Image</a>
                    </li>
                    <li>
                        <a href="/components/input.html">Input</a>
                    </li>
                </ul>
            </div>
            <!-- Components Navigation End -->
        </nav>
        <!-- Sidebar Section End -->

        <!-- Main Content Section Start -->
        <section class="doc-content">
            <h2 class="title">Colors</h2>
            <div class="subtitle">Gimesto has predefined color system for its users. If you are confused while selecting the colors you can choose pre-defined colors.</div>

            <h3 class="title">Default Colors</h3>
            <div class="subtitle">Below are the colors which are most comonly used.</div>
            <div class="output-cont">
                <div class="color-palette">
                    <div class="btn-primary">Primary<span>#9142F5</span></div>
                    <div class="btn-secondary">Secondary <span>#325bfe</span></div>
                    <div class="btn-warning">Warning <span>#feab00</span></div>
                    <div class="btn-error">Error <span>#fa3246</span></div>
                    <div class="btn-success">Success <span>#00b377</span></div>
                </div>
            </div>

            <h3 class="title">Grayscale Colors</h3>
            <div class="subtitle">Below are the variations of gray color used.</div>
            <div class="output-cont">
                <div class="color-palette">
                    <div class="clr-white">LIGHT<span>#FFFFFF</span></div>
                    <div class="clr-gray-1">GRAY 100<span>#c6cbd9</span></div>
                    <div class="clr-gray-2">GRAY 200<span>#9a9aaf</span></div>
                    <div class="clr-gray-3">GRAY 300<span>#7e7e8f</span></div>
                    <div class="clr-gray-4">GRAY 400<span>#656575</span></div>
                    <div class="clr-gray-5">GRAY 500<span>#535362</span></div>
                    <div class="clr-gray-6">GRAY 600<span>#2e2e3a</span></div>
                    <div class="clr-dark">DARK<span>#1E1E1E</span></div>
                </div>
            </div>

            <!-- Page Navigation Section Start -->
           <div class="page-navigation">
                <a class="navigation-prev" href="/components/installation.html"><i class="bi bi-caret-left-fill left-icon"></i>Installation</a>
                <a class="navigation-next" href="/components/typography.html" >Typography<i class="bi bi-caret-right-fill right-icon"></i></a>
            </div>
            <!-- Page Navigation Section End -->
        </section>
        <!-- Main Content Section End -->
    </main>
    <!-- Main Section End -->

    <!-- Scripts Used in this project -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="../scripts/header.js"></script>
</html>
