<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gimesto</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css">
    <link rel="stylesheet" href="../gimesto.css" type="text/css" />
  </head>
  <body>
    <!-- Header Section Start -->
    <header class="header">
        <div class="logo">
            <a href="../index.html">Gimesto</a>  
        </div>
            <ul class="header-nav">
                <li>
                    <a href="https://github.com/vrx29/">
                        <i class="bi bi-github github-icon"></i>
                         github
                    </a>
                </li>
                <li>
                    <button class="menu">
                        <i id="menu-icon" class="bi bi-list"></i>
                    </button>
                </li>
            </ul>  
    </header>
    <!-- Header Section End -->

    <!-- Main Section Start -->
    <main class="doc-container">
        <!-- Sidebar Section Start -->
        <aside class="sidebar">
            <!-- Getting Started Navigation Start -->
            <div>
                <div class="list-topic">
                    GETTING STARTED
                </div>
                <ul class="list-subtopic">
                    <li >
                        <a href="/components/installation.html">Installation</a>
                    </li>
                    <li>
                        <a href="/components/colors.html">Colors</a>
                    </li>
                    <li>
                        <a href="/components/typography.html">Typography</a>
                    </li>
                </ul>
            </div>
            <!-- Getting Started Navigation End -->

            <!-- Components Navigation Start -->
           <div>
                <div class="list-topic">
                    <a class="" href="#">COMPONENTS</a>
                </div>
                <ul class="list-subtopic">
                    <li>
                        <a href="/components/avatar.html">Avatar</a>
                    </li>
                    <li>
                        <a href="/components/alert.html">Alert</a>
                    </li>
                    <li>
                        <a href="/components/badge.html">Badge</a>
                    </li>
                    <li>
                        <a href="/components/button.html">Button</a>
                    </li>
                    <li>
                        <a href="/components/card.html">Card</a>
                    </li>
                    <li>
                        <a class="active" href="#">Image</a>
                    </li>
                    <li>
                        <a href="/components/input.html">Input</a>
                    </li>
                    <li>
                        <a href="/components/text.html">Text Utilites</a>
                    </li>
                    <li>
                        <a href="/components/lists.html">Lists</a>
                    </li>
                    <li>
                        <a href="/components/navigation.html">Navigation</a>
                    </li>
                </ul>
            </div>
            <!-- Components Navigation End -->
        </aside>
        <!-- Sidebar Section End -->

        <!-- Main Content Section Start -->
        <section class="doc-content">
            <h2 class="title">Image</h2>
            <p class="subtitle">An image is a picture or visual representation of a person or thing.</p>

            <h3 class="title">Round Image</h3>
            <p class="subtitle">Round images are circular in shape genrally used to display profile pictures etc. Default dimension for these images will be 150x150.</p>
            <div class="output-cont">
                <img class="round-img" src="../assets/image1.jpeg" alt="phone" />
                <img class="round-img" src="../assets/image2.jpeg" alt="mouse" />
            </div>

            <!-- Code Snippet Section Start -->
            <div>
                <pre>
                    <code class="html hljs xml">
                        <-- Using the 'round-img' class name -->
                        
                        &lt;img class="round-img" src="../assets/image1.jpeg" alt="mouse" /&gt;
                    </code>
                </pre>
            </div>   
            <!-- Code Snippet Section End -->

            <h3 class="title">Square Image</h3>
            <p class="subtitle">Square images are square shape genrally used to display product pictures etc. Default dimension for these images will be 150x150.</p>
            <div class="output-cont">
                <img class="sq-img" src="../assets/image3.jpeg" alt="mouse" />
                <img class="sq-img" src="../assets/image6.jpeg" alt="headphones" />
            </div>

            <!-- Code Snippet Section Start -->
            <div>
                <pre>
                    <code class="html hljs xml">
                        <-- Using the 'sq-img' class name -->
                        
                        &lt;img class="sq-img" src="../assets/image1.jpeg" alt="headphones" /&gt;
                    </code>
                </pre>
            </div> 
            <!-- Code Snippet Section End -->

            <h3 class="title">Responsive Image</h3>
            <p class="subtitle">The images which changes their size when we resize the browser width.</p>
            <div class="output-cont">
                <img class="resp-img" src="../assets/image4.jpeg" alt="desk-setup" />
            </div>

            <!-- Code Snippet Section Start -->
            <div>
                <pre>
                    <code class="html hljs xml">
                        <-- Using the 'resp-img' class name -->
                        
                        &lt;img class="resp-img" src="../assets/image1.jpeg" alt="desktop" /&gt;
                    </code>
                </pre>
            </div> 
            <!-- Code Snippet Section End -->
           
            <!-- Page Navigation Section Start -->
           <div class="page-navigation">
                <a class="navigation-prev" href="/components/card.html"><i class="bi bi-caret-left-fill left-icon"></i>Card</a>
                <a class="navigation-next" href="/components/input.html" >Input<i class="bi bi-caret-right-fill right-icon"></i></a>
            </div>
            <!-- Page Navigation Section End -->
        </section>
        <!-- Main Content Section End -->
    </main>
    <!-- Main Section End -->

    <!-- Scripts Used in this project -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="../scripts/header.js"></script>
</html>
