<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gimesto</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css">
    <link rel="stylesheet" href="../gimesto.css" type="text/css" />
  </head>
  <body>
    <!-- Header Section Start -->
    <header class="header">
        <div class="logo">
            <a href="../index.html">Gimesto</a>  
        </div>
            <ul class="header-nav">
                <li>
                    <a href="https://github.com/vrx29/">
                        <i class="bi bi-github github-icon"></i>
                         github
                    </a>
                </li>
                <li>
                    <button class="menu">
                        <i id="menu-icon" class="bi bi-list"></i>
                    </button>
                </li>
            </ul>  
    </header>
    <!-- Header Section End -->

    <!-- Main Section Start -->
    <main class="doc-container">
        <!-- Sidebar Section Start -->
        <aside class="sidebar">
            <!-- Getting Started Navigation Start -->
            <div>
                <div class="list-topic">
                    GETTING STARTED
                </div>
                <ul class="list-subtopic">
                    <li >
                        <a href="/components/installation.html">Installation</a>
                    </li>
                    <li>
                        <a href="/components/colors.html">Colors</a>
                    </li>
                    <li>
                        <a href="/components/typography.html">Typography</a>
                    </li>
                </ul>
            </div>
            <!-- Getting Started Navigation End -->

            <!-- Components Navigation Start -->
           <div>
                <div class="list-topic">
                    <a class="" href="#">COMPONENTS</a>
                </div>
                <ul class="list-subtopic">
                    <li>
                        <a href="/components/avatar.html">Avatar</a>
                    </li>
                    <li>
                        <a href="/components/alert.html">Alert</a>
                    </li>
                    <li>
                        <a href="/components/badge.html">Badge</a>
                    </li>
                    <li>
                        <a href="/components/button.html">Button</a>
                    </li>
                    <li>
                        <a href="/components/card.html">Card</a>
                    </li>
                    <li>
                        <a href="/components/image.html">Image</a>
                    </li>
                    <li>
                        <a class="active" href="#">Input</a>
                    </li>
                    <li>
                        <a href="/components/text.html">Text Utilites</a>
                    </li>
                    <li>
                        <a href="/components/lists.html">Lists</a>
                    </li>
                    <li>
                        <a href="/components/navigation.html">Navigation</a>
                    </li>
                </ul>
            </div>
            <!-- Components Navigation End -->
        </aside>
        <!-- Sidebar Section End -->

        <!-- Main Content Section Start -->
        <section class="doc-content">
            <h2 class="title">Input</h2>
            <div class="subtitle">Inputs are really important part of any website whenever user interacts if we want to get some data from user, we can use input elements.</div>

            <h3 class="title">Label Input</h3>
            <div class="subtitle">Label inputs have label defined on top of them which displays what type of data is to be inserted into that input field. These input fields can be used to display error messages if a user enters some wrong data or badly formatted data.</div>
            <div class="output-cont">
                <div class="input-grp">
                    <label>Username</label>
                    <input class="input" type="text" placeholder="Username">
                </div>
                <div class="input-grp">
                    <label>Email address</label>
                    <input class="input input-error" type="email" placeholder="Email address">
                    <div class="error-msg">Please enter correct email.</div>
                </div>
                <div class="input-grp">
                    <label>Password</label>
                    <input class="input input-warning" type="password" placeholder="Password">
                    <div class="warning-msg">Please enter a strong password.</div>
                </div>
                <div class="input-grp">
                    <label>Confirm Password</label>
                    <input class="input input-success" type="password" placeholder="Password">
                    <div class="success-msg">Password matched.</div>
                </div>
            </div>

            <!-- Code Snippet Section Start -->
            <div>
                <pre>
                    <code class="html hljs xml">
                        <-- Using the 'input-grp' class as outside container -->
                        <-- Using the 'input' class for normal input field without validation -->
                        <-- Using the 'input-error' and 'error-msg' class for error validation -->
                        
                        &lt;div class="input-grp"&gt;
                            &lt;label&gt;Email address&lt;/label&gt;
                            &lt;input class="input input-error" type="email" placeholder="Email address"&gt;
                            &lt;div class="error-msg"&gt;Please enter correct email.&lt;/div&gt;
                        &lt;/div>
                    </code>
                </pre>
            </div>   
            <!-- Code Snippet Section End -->

            <h3 class="title">Textarea Input</h3>
            <div class="subtitle">Textarea input is used to get large chunks of data. Sometimes user needs to provide a large data in that case it is used.</div>
            <div class="output-cont">
                <textarea class="textarea" placeholder="Please provide your feedback."></textarea>
            </div>

            <!-- Code Snippet Section Start -->
            <div>
                <pre>
                    <code class="html hljs xml">
                        <-- Using the 'sq-img' class name -->
                        
                        &lt;textarea class="textarea" placeholder="Please provide your feedback."&gt;&lt;/textarea&gt;
                    </code>
                </pre>
            </div> 
            <!-- Code Snippet Section End -->

            <h3 class="title">Radio Input</h3>
            <div class="subtitle">Radio buttons provide user with multiple inputs and user can onlye one option from them.</div>
            <div class="output-cont">
                    <label for="yes" class="label-radio">
                        <input id="yes" name="verify" type="radio" class="input-radio" checked />
                        <div class="btn-radio"></div>
                        Yes
                    </label>
                    <label for="no" class="label-radio">
                        <input id="no" name="verify" type="radio" class="input-radio" />
                        <div class="btn-radio"></div>
                        No
                    </label>
            </div>

            <!-- Code Snippet Section Start -->
            <div>
                <pre>
                    <code class="html hljs xml">
                        <-- Using the 'label-radio' class for label and 'input-radio' for input tag -->
                        <-- Using the 'btn-radio' class on div for creating radio button -->
                        
                        &lt;label for="yes" class="label-radio"&gt;
                            &lt;input id="yes" name="verify" type="radio" class="input-radio" checked /&gt;
                            &lt;div class="btn-radio"&gt;&lt;/div&gt;
                            Yes
                        &lt;/label&gt;
                    </code>
                </pre>
            </div> 
            <!-- Code Snippet Section End -->
           
            <!-- Page Navigation Section Start -->
           <div class="page-navigation">
                <a class="navigation-prev" href="/components/image.html"><i class="bi bi-caret-left-fill left-icon"></i>Image</a>
                <a class="navigation-next" href="/components/text.html" >Text Utilites<i class="bi bi-caret-right-fill right-icon"></i></a>
            </div>
            <!-- Page Navigation Section End -->
        </section>
        <!-- Main Content Section End -->
    </main>
    <!-- Main Section End -->

    <!-- Scripts Used in this project -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="../scripts/header.js"></script>
</html>
