<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gimesto</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css">
    <link rel="stylesheet" href="../gimesto.css" type="text/css" />
  </head>
  <body>
    <!-- Header Section Start -->
    <header class="header">
        <div class="logo">
            <a href="../index.html">Gimesto</a>  
        </div>
            <ul class="header-nav">
                <li>
                    <a href="https://github.com/vrx29/">
                        <i class="bi bi-github github-icon"></i>
                         github
                    </a>
                </li>
                <li>
                    <button class="menu">
                        <i id="menu-icon" class="bi bi-list"></i>
                    </button>
                </li>
            </ul>  
    </header>
    <!-- Header Section End -->

    <!-- Main Section Start -->
    <main class="doc-container">
        <!-- Sidebar Section Start -->
        <nav class="sidebar">
            <!-- Getting Started Navigation Start -->
            <div>
                <div class="list-topic">
                    <a  href="#">GETTING STARTED</a>
                </div>
                <ul class="list-subtopic">
                    <li >
                        <a href="/components/installation.html">Installation</a>
                    </li>
                    <li>
                        <a href="/components/colors.html">Colors</a>
                    </li>
                    <li>
                        <a href="/components/typography.html">Typography</a>
                    </li>
                </ul>
            </div>
            <!-- Getting Started Navigation End -->

            <!-- Components Navigation Start -->
           <div>
                <div class="list-topic">
                    <a class="" href="#">COMPONENTS</a>
                </div>
                <ul class="list-subtopic">
                    <li>
                        <a href="/components/avatar.html">Avatar</a>
                    </li>
                    <li>
                        <a href="/components/alert.html">Alert</a>
                    </li>
                    <li>
                        <a href="/components/badge.html">Badge</a>
                    </li>
                    <li>
                        <a href="/components/button.html">Button</a>
                    </li>
                    <li>
                        <a href="/components/card.html">Card</a>
                    </li>
                    <li>
                        <a href="/components/image.html">Image</a>
                    </li>
                    <li>
                        <a href="/components/input.html">Input</a>
                    </li>
                    <li>
                        <a href="/components/text.html">Text Utilites</a>
                    </li>
                    <li>
                        <a class="active" href="#">Lists</a>
                    </li>
                    <li>
                        <a href="/components/navigation.html">Navigation</a>
                    </li>
                </ul>
            </div>
            <!-- Components Navigation End -->
        </nav>
        <!-- Sidebar Section End -->

        <!-- Main Content Section Start -->
        <section class="doc-content">
            <h2 class="title">List</h2>
            <div class="subtitle">Lists can be used to display information in points not in a single paragraph, like notifications etc.</div>

            <h3 class="title">Simple List</h3>
            <div class="subtitle">Simple list are of two types either ordered list or unordered list.</div>

            <div class="output-cont">
                <ol class="list-decimal">
                    <li>This is first point</li>
                    <li>This is second point</li>
                    <li>This is third point</li>
                </ol>
                <ol class="list-decimal" reversed>
                    <li>This is first point</li>
                    <li>This is second point</li>
                    <li>This is third point</li>
                </ol>
                <ol class="list-roman">
                    <li>This is first point</li>
                    <li>This is second point</li>
                    <li>This is third point</li>
                </ol>
            </div>
            
            <!-- Code Snippet Section Start -->
            <div>
                <pre>
                    <code class="html hljs xml">
                       &lt;ol class="list-decimal"&gt;
                            &lt;li&gt;This is first point&lt;/li&gt;
                            &lt;li&gt;This is second point&lt;/li&gt;
                            &lt;li&gt;This is third point&lt;/li&gt;
                        &lt;/ol&gt;

                        &lt;ol class="list-decimal" reversed&gt;
                            &lt;li&gt;This is first point&lt;/li&gt;
                            &lt;li&gt;This is second point&lt;/li&gt;
                            &lt;li&gt;This is third point&lt;/li&gt;
                        &lt;/ol&gt;

                        &lt;ol class="list-roman"&gt;
                            &lt;li&gt;This is first point&lt;/li&gt;
                            &lt;li&gt;This is second point&lt;/li&gt;
                            &lt;li&gt;This is third point&lt;/li&gt;
                        &lt;/ol&gt;
                    </code>
                </pre>
            </div>   
            <!-- Code Snippet Section End -->

            <div class="output-cont">
                <ul class="list-dots">
                    <li>This is first point</li>
                    <li>This is second point</li>
                    <li>This is third point</li>
                </ul>
                <ul class="list-square">
                    <li>This is first point</li>
                    <li>This is second point</li>
                    <li>This is third point</li>
                </ul>
            </div>

            <!-- Code Snippet Section Start -->
            <div>
                <pre>
                    <code class="html hljs xml">
                        &lt;ul class="list-dots"&gt;
                            &lt;li&gt;This is first point&lt;/li&gt;
                            &lt;li&gt;This is second point&lt;/li&gt;
                            &lt;li&gt;This is third point&lt;/li&gt;
                        &lt;/ul&gt;

                        &lt;ul class="list-square"&gt;
                            &lt;li&gt;This is first point&lt;/li&gt;
                            &lt;li&gt;This is second point&lt;/li&gt;
                            &lt;li&gt;This is third point&lt;/li&gt;
                        &lt;/ul&gt;
                    </code>
                </pre>
            </div>   
            <!-- Code Snippet Section End -->

            <h3 class="title">Stacked List</h3>
            <p class="subtitle">Stacked list have a complete custom component inside &lt;li&gt; tag.</p>

            <div class="output-cont">
                <ul class="list-stacked">
                    <li class="list-item">
                        <img src="../assets/avatars/avatar1.jpg" class="avatar"/>
                        <div>
                            <p class="txt-md">Vineet Kumar</p>
                            <p class="txt-sm txt-gray-1">vineet@gmail.com</p>
                        </div>
                    </li>
                    <li class="list-item">
                        <img src="../assets/avatars/avatar2.jpg" class="avatar"/>
                        <div>
                            <p class="txt-md">Vineet Kumar</p>
                            <p class="txt-sm txt-gray-1">vineet@gmail.com</p>
                        </div>
                    </li>
                    <li class="list-item">
                        <img src="../assets/avatars/avatar4.jpg" class="avatar"/>
                        <div>
                            <p class="txt-md">Vineet Kumar</p>
                            <p class="txt-sm txt-gray-1">vineet@gmail.com</p>
                        </div>
                    </li>
                </ul>
            </div>
            
            <!-- Code Snippet Section Start -->
            <div>
                <pre>
                    <code class="html hljs xml">
                       &lt;ul class="list-stacked"&gt;
                            &lt;li class="list-item"&gt;
                                 &lt;img src="../assets/avatar" class="avatar"/&gt;
                                 &lt;div&gt;
                                     &lt;p class="txt-md">Vineet Kumar &lt;/p&gt;
                                     &lt;p class="txt-sm txt-gray-1">vineet@gmail.com &lt;/p&gt;
                                 &lt;/div&gt;
                            &lt;/li&gt;
                        &lt;/ul&gt;
                    </code>
                </pre>
            </div>   
            <!-- Code Snippet Section End -->
            <!-- Page Navigation Section Start -->
           <div class="page-navigation">
                <a class="navigation-prev" href="/components/text.html"><i class="bi bi-caret-left-fill left-icon"></i>Text Utilites</a>
                <a class="navigation-next" href="/components/navigation.html" >Navigation<i class="bi bi-caret-right-fill right-icon"></i></a>
            </div>
            <!-- Page Navigation Section End -->
        </section>
        <!-- Main Content Section End -->
    </main>
    <!-- Main Section End -->

    <!-- Scripts Used in this project -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="../scripts/header.js"></script>
</html>
