<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gimesto</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css">
    <link rel="stylesheet" href="../gimesto.css" type="text/css" />
  </head>
  <body>
    <!-- Header Section Start -->
    <header class="header">
        <div class="logo">
            <a href="../index.html">Gimesto<span class="logo-text">UI</span></a>  
        </div>
            <ul class="header-nav">
                <li>
                    <a href="https://github.com/vrx29/">
                        <i class="bi bi-github github-icon"></i>
                    </a>
                </li>
                <li>
                    <button class="menu">
                        <i id="menu-icon" class="bi bi-list"></i>
                    </button>
                </li>
            </ul>  
    </header>
    <!-- Header Section End -->

    <!-- Main Section Start -->
    <main class="doc-container">
        <!-- Sidebar Section Start -->
        <nav class="sidebar">
            <!-- Getting Started Navigation Start -->
            <div>
                <div class="list-topic">
                    <a  href="#">GETTING STARTED</a>
                </div>
                <ul class="list-subtopic">
                    <li >
                        <a href="/components/installation.html">Installation</a>
                    </li>
                    <li>
                        <a href="/components/colors.html">Colors</a>
                    </li>
                    <li>
                        <a href="/components/typography.html">Typography</a>
                    </li>
                </ul>
            </div>
            <!-- Getting Started Navigation End -->

            <!-- Components Navigation Start -->
           <div>
                <div class="list-topic">
                    <a class="" href="#">COMPONENTS</a>
                </div>
                <ul class="list-subtopic">
                    <li>
                        <a href="/components/avatar.html">Avatar</a>
                    </li>
                    <li>
                        <a href="/components/alert.html">Alert</a>
                    </li>
                    <li>
                        <a href="/components/badge.html">Badge</a>
                    </li>
                    <li>
                        <a href="/components/button.html">Button</a>
                    </li>
                    <li>
                        <a href="/components/card.html">Card</a>
                    </li>
                    <li>
                        <a href="/components/image.html">Image</a>
                    </li>
                    <li>
                        <a href="/components/input.html">Input</a>
                    </li>
                    <li>
                        <a href="/components/text.html">Text Utilites</a>
                    </li>
                    <li>
                        <a href="/components/lists.html">Lists</a>
                    </li>
                    <li>
                        <a href="/components/navigation.html">Navigation</a>
                    </li>
                    <li>
                        <a class="active" href="#">Modal</a>
                    </li>
                    <li>
                        <a href="/components/rating.html">Rating</a>
                    </li>
                    <li>
                        <a href="/components/toast.html">Toast</a>
                    </li>
                    <li>
                        <a href="/components/grid.html">Grid</a>
                    </li>
                </ul>
            </div>
            <!-- Components Navigation End -->
        </nav>
        <!-- Sidebar Section End -->

        <!-- Main Content Section Start -->
        <section class="doc-content">
            <h2 class="title">Modal</h2>
            <p class="subtitle">A modal is a dialog box/popup window that is displayed on top of the current page.</p>

            <div class="output-cont">
                <button class="btn" id="openModal">Open Modal</button>
                <div class="modal-cont" id="myModal">
                    <div class="modal">
                        <button class="btn btn-icon btn-close">
                            <i class="bi bi-x"></i>        
                        </button>
                        <h3 class="modal-title">Modal Title</h3>
                        <p class="txt-gray-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dolorem atque minus eveniet, quaerat necessitatibus eum consectetur, rem quam quas sint. Est sint perspiciatis temporibus nihil, id minus impedit nobis.
                        </p>
                        <div class="modal-footer">
                            <button class="btn outline">Close</button>
                            <button class="btn btn-primary">Accept</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Code Snippet Section Start -->
            <div>
                <pre>
                    <code class="html hljs xml">
                        &lt;div class="modal-cont" id="myModal"&gt;
                            &lt;div class="modal"&gt;
                                &lt;button class="btn btn-icon btn-close"&gt;
                                    &lt;i class="bi bi-x"&gt;&lt;/i&gt;        
                                &lt;/button&gt;
                                &lt;h3 class="modal-title">Modal Title&lt;/h3&gt;
                                &lt;p class="txt-gray-2">Lorem ipsum.&lt;/p&gt;
                                &lt;div class="modal-footer"&gt;
                                    &lt;button class="btn outline"&gt;Close&lt;/button&gt;
                                    &lt;button class="btn btn-primary"&gt;Accept&lt;/button&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    </code>
                </pre>
            </div>   
            <!-- Code Snippet Section End -->
            <!-- Page Navigation Section Start -->
           <div class="page-navigation">
                <a class="navigation-prev" href="/components/navigation.html"><i class="bi bi-caret-left-fill left-icon"></i>Navigation</a>
                <a class="navigation-next" href="/components/rating.html" >Rating<i class="bi bi-caret-right-fill right-icon"></i></a>
            </div>
            <!-- Page Navigation Section End -->
        </section>
        <!-- Main Content Section End -->
    </main>
    <!-- Main Section End -->

    <!-- Scripts Used in this project -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="../scripts/header.js"></script>
    <script src="../scripts/modal.js"></script>
</html>
