<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gimesto</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css">
    <link rel="stylesheet" href="../gimesto.css" type="text/css" />
  </head>
  <body>
    <!-- Header Section Start -->
    <header class="header">
        <div class="logo">
            <a href="../index.html">Gimesto</a>  
        </div>
            <ul class="header-nav">
                <li>
                    <a href="https://github.com/vrx29/">
                        <i class="bi bi-github github-icon"></i>
                         github
                    </a>
                </li>
                <li>
                    <button class="menu">
                        <i id="menu-icon" class="bi bi-list"></i>
                    </button>
                </li>
            </ul>  
    </header>
    <!-- Header Section End -->

    <!-- Main Section Start -->
    <main class="doc-container">
        <!-- Sidebar Section Start -->
        <nav class="sidebar">
            <!-- Getting Started Navigation Start -->
            <div>
                <div class="list-topic">
                    <a  href="#">GETTING STARTED</a>
                </div>
                <ul class="list-subtopic">
                    <li >
                        <a href="/components/installation.html">Installation</a>
                    </li>
                    <li>
                        <a href="/components/colors.html">Colors</a>
                    </li>
                    <li>
                        <a href="/components/typography.html">Typography</a>
                    </li>
                </ul>
            </div>
            <!-- Getting Started Navigation End -->

            <!-- Components Navigation Start -->
           <div>
                <div class="list-topic">
                    <a class="" href="#">COMPONENTS</a>
                </div>
                <ul class="list-subtopic">
                    <li>
                        <a href="/components/avatar.html">Avatar</a>
                    </li>
                    <li>
                        <a href="/components/alert.html">Alert</a>
                    </li>
                    <li>
                        <a href="/components/badge.html">Badge</a>
                    </li>
                    <li>
                        <a href="/components/button.html">Button</a>
                    </li>
                    <li>
                        <a href="/components/card.html">Card</a>
                    </li>
                    <li>
                        <a href="/components/image.html">Image</a>
                    </li>
                    <li>
                        <a href="/components/input.html">Input</a>
                    </li>
                    <li>
                        <a href="/components/text.html">Text Utilites</a>
                    </li>
                    <li>
                        <a href="/components/lists.html">Lists</a>
                    </li>
                    <li>
                        <a class="active" href="#">Navigation</a>
                    </li>
                </ul>
            </div>
            <!-- Components Navigation End -->
        </nav>
        <!-- Sidebar Section End -->

        <!-- Main Content Section Start -->
        <section class="doc-content">
            <h2 class="title">Navigation</h2>
            <p class="subtitle">It is way that helps users or visitors to find content that they want to see. It is simply a way of navigating pages, content and information on website using internet.</p>

            <h3 class="title">Navigation Bar</h3>
            <p class="subtitle">Navigation bar contains all the main actions to be performed on the website and should be visible on all pages.</p>

            <div class="output-cont">
                <header class="navbar">
                    <div class="logo">
                        <a href="../index.html">Gimesto</a>  
                    </div>
                    <div class="search-cont">
                        <input class="input" type="email" placeholder="Search" />
                    </div>
                    <nav class="nav-links">
                        <a><i class="bi bi-shop-window"></i><span>Shop</span></a>
                        <a><i class="bi bi-heart"></i><span>Wishlist</span></a>
                        <a><i class="bi bi-cart3"></i><span>Cart</span></a>
                        <button class="btn btn-primary">Login</button>
                        <button class="nav-menu"><i class="bi bi-list"></i></button>
                    </nav>
                </header>
            </div>
            
            <!-- Code Snippet Section Start -->
            <div>
                <pre>
                    <code class="html hljs xml">
                        &lt;header class="navbar"&gt;
                            &lt;div class="logo"&gt;
                                &lt;a href="../index.html">Gimesto&lt;/a&gt;
                            &lt;/div&gt;
                            &lt;div class="search-cont"&gt;
                                &lt;input class="input" type="email" placeholder="Search" /&gt;
                            &lt;/div&gt;
                            &lt;nav class="nav-links"&gt;
                                &lt;a&gt;&lt;i class="bi bi-shop-window"&gt;&lt;/i&gt;&lt;span&gt;Shop&lt;/span&gt;&lt;/a&gt;
                                &lt;a&gt;&lt;i class="bi bi-heart"&gt;&lt;/i&gt;&lt;span&gt;Wishlist&lt;/span&gt;&lt;/a&gt;
                                &lt;a&gt;&lt;i class="bi bi-cart3"&gt;&lt;/i&gt;&lt;span&gt;Cart&lt;/span&gt;&lt;/a&gt;
                                &lt;button class="btn btn-primary"&gt;Login&lt;/button&gt;
                                &lt;button class="nav-menu"&gt;&lt;i class="bi bi-list"&gt;&lt;/i&gt;&lt;/button&gt;
                            &lt;/nav&gt;
                        &lt;/header&gt;
                    </code>
                </pre>
            </div>   
            <!-- Code Snippet Section End -->
            <!-- Page Navigation Section Start -->
           <div class="page-navigation">
                <a class="navigation-prev" href="/components/lists.html"><i class="bi bi-caret-left-fill left-icon"></i>Lists</a>
                <!-- <a class="navigation-next" href="/components/avatar.html" >Avatar<i class="bi bi-caret-right-fill right-icon"></i></a> -->
            </div>
            <!-- Page Navigation Section End -->
        </section>
        <!-- Main Content Section End -->
    </main>
    <!-- Main Section End -->

    <!-- Scripts Used in this project -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="../scripts/header.js"></script>
</html>
