<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gimesto</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css">
    <link rel="stylesheet" href="../gimesto.css" type="text/css" />
  </head>
  <body>
    <!-- Header Section Start -->
    <header class="header">
        <div class="logo">
            <a href="../index.html">Gimesto</a>  
        </div>
            <ul class="header-nav">
                <li>
                    <a href="https://github.com/vrx29/">
                        <i class="bi bi-github github-icon"></i>
                         github
                    </a>
                </li>
                <li>
                    <button class="menu">
                        <i id="menu-icon" class="bi bi-list"></i>
                    </button>
                </li>
            </ul>  
    </header>
    <!-- Header Section End -->

    <!-- Main Section Start -->
    <main class="doc-container">
        <!-- Sidebar Section Start -->
        <nav class="sidebar">
            <!-- Getting Started Navigation Start -->
            <div>
                <div class="list-topic">
                    <a  href="#">GETTING STARTED</a>
                </div>
                <ul class="list-subtopic">
                    <li >
                        <a href="/components/installation.html">Installation</a>
                    </li>
                    <li>
                        <a href="/components/colors.html">Colors</a>
                    </li>
                    <li>
                        <a href="/components/typography.html">Typography</a>
                    </li>
                </ul>
            </div>
            <!-- Getting Started Navigation End -->

            <!-- Components Navigation Start -->
           <div>
                <div class="list-topic">
                    <a class="" href="#">COMPONENTS</a>
                </div>
                <ul class="list-subtopic">
                    <li>
                        <a href="/components/avatar.html">Avatar</a>
                    </li>
                    <li>
                        <a href="/components/alert.html">Alert</a>
                    </li>
                    <li>
                        <a href="/components/badge.html">Badge</a>
                    </li>
                    <li>
                        <a href="/components/button.html">Button</a>
                    </li>
                    <li>
                        <a href="/components/card.html">Card</a>
                    </li>
                    <li>
                        <a href="/components/image.html">Image</a>
                    </li>
                    <li>
                        <a href="/components/input.html">Input</a>
                    </li>
                    <li>
                        <a class="active" href="#">Text Utilites</a>
                    </li>
                    <li>
                        <a href="/components/lists.html">Lists</a>
                    </li>
                    <li>
                        <a href="/components/navigation.html">Navigation</a>
                    </li>
                </ul>
            </div>
            <!-- Components Navigation End -->
        </nav>
        <!-- Sidebar Section End -->

        <!-- Main Content Section Start -->
        <section class="doc-content">
            <h2 class="title">Text Utilites</h2>
            <p class="subtitle">Typography is the art and technique of arranging letters and characters known as type. It also refers to different elements of typography including the size of the letters, line length and the spacing on a line or the entire page.</p>

            <h3 class="title">Headings</h3>
            <p class="subtitle">All HTML headings, from h1 through h6, are available.</p>

            <div class="output-cont">
                <div class="heading-cont">
                    <h1>H1 Heading</h1>
                    <h2>H2 Heading</h2>
                    <h3>H3 Heading</h3>
                    <h4>H4 Heading</h4>
                    <h5>H5 Heading</h5>
                    <h6>H6 Heading</h6>
                </div>
            </div>
            
            <!-- Code Snippet Section Start -->
            <div>
                <pre>
                    <code class="html hljs xml">
                        &lt;h1&gt;H1 Heading&lt;/h1&gt;
                        &lt;h2&gt;H2 Heading&lt;/h2&gt;
                        &lt;h3&gt;H3 Heading&lt;/h3&gt;
                        &lt;h4&gt;H4 Heading&lt;/h4&gt;
                        &lt;h5&gt;H5 Heading&lt;/h5&gt;
                        &lt;h6&gt;H6 Heading&lt;/h6&gt;
                    </code>
                </pre>
            </div>   
            <!-- Code Snippet Section End -->

            <h3 class="title">Text Sizes</h3>
            <p class="subtitle">Text can be displayed in multiple sizes.</p>

            <div class="output-cont">
                <div class="heading-cont">
                    <p class="txt-3xl">3x Extra Large Paragraph</p>
                    <p class="txt-2xl">2x Extra Large Paragraph</p>
                    <p class="txt-xl">1x Extra Large Paragraph</p>
                    <p class="txt-lg">Large Paragraph</p>
                    <p class="txt-md">Medium Paragraph</p>
                    <p class="txt-sm">Small Paragraph</p>
                    <p class="txt-xs">Extra Small Paragraph</p>
                </div>
            </div>
            
            <!-- Code Snippet Section Start -->
            <div>
                <pre>
                    <code class="html hljs xml">
                        &lt;p class="txt-3xl"&gt;3x Extra Large Paragraph&lt;/p&gt;
                        &lt;p class="txt-2xl"&gt;2x Extra Large Paragraph&lt;/p&gt;
                        &lt;p class="txt-xl"&gt;1x Extra Large Paragraph&lt;/p&gt;
                        &lt;p class="txt-lg"&gt;Large Paragraph&lt;/p&gt;
                        &lt;p class="txt-md"&gt;Medium Paragraph&lt;/p&gt;
                        &lt;p class="txt-sm"&gt;Small Paragraph&lt;/p&gt;
                        &lt;p class="txt-sm"&gt;Extra Small Paragraph&lt;/p&gt;
                    </code>
                </pre>
            </div>   
            <!-- Code Snippet Section End -->

            <h3 class="title">Text Alignment</h3>
            <p class="subtitle">Text can be aligned in multiple ways.</p>

            <div class="output-cont">
                <div class="txt-cont">
                    <p class="txt-lg txt-left">Left Aligned Text</p>
                    <p class="txt-lg txt-center">Center Aligned Text</p>
                    <p class="txt-lg txt-right">Right Aligned Text</p>
                </div>   
            </div>
            
            <!-- Code Snippet Section Start -->
            <div>
                <pre>
                    <code class="html hljs xml">
                        &lt;p class="txt-lg txt-left"&gt;Left Aligned Text&lt;/p&gt;
                        &lt;p class="txt-lg txt-center"&gt;Center Aligned Text&lt;/p&gt;
                        &lt;p class="txt-lg txt-right"&gt;Right Aligned Text&lt;/p&gt;
                    </code>
                </pre>
            </div>   
            <!-- Code Snippet Section End -->

            <h3 class="title">Text Colors</h3>
            <p class="subtitle">Text can be coloured in multiple ways.</p>

            <div class="output-cont">
                <div class="heading-cont">
                    <p class="txt-primary">Text Color Primary</p>
                    <p class="txt-error">Text Color Error</p>
                    <p class="txt-success">Text Color Success</p>
                    <p class="txt-warning">Text Color Warning</p>
                    <p class="txt-gray-1">Text Color Gray 1</p>
                    <p class="txt-gray-2">Text Color Gray 2</p>
                    <p class="txt-gray-3">Text Color Gray 3</p>
                    <p class="txt-gray-4">Text Color Gray 4</p>
                </div>   
            </div>
            
            <!-- Code Snippet Section Start -->
            <div>
                <pre>
                    <code class="html hljs xml">
                        &lt;p class="txt-primary"&gt;Text Color Primary&lt;/p&gt;
                        &lt;p class="txt-error"&gt;Text Color Error&lt;/p&gt;
                        &lt;p class="txt-success"&gt;Text Color Success&lt;/p&gt;
                        &lt;p class="txt-warning"&gt;Text Color Warning&lt;/p&gt;
                        &lt;p class="txt-gray-1"&gt;Text Color Gray 1&lt;/p&gt;
                        &lt;p class="txt-gray-2"&gt;Text Color Gray 2&lt;/p&gt;
                        &lt;p class="txt-gray-3"&gt;Text Color Gray 3&lt;/p&gt;
                        &lt;p class="txt-gray-4"&gt;Text Color Gray 4&lt;/p&gt;
                    </code>
                </pre>
            </div>   
            <!-- Code Snippet Section End -->

            <!-- Page Navigation Section Start -->
           <div class="page-navigation">
                <a class="navigation-prev" href="/components/input.html"><i class="bi bi-caret-left-fill left-icon"></i>Input</a>
                <a class="navigation-next" href="/components/lists.html" >Lists<i class="bi bi-caret-right-fill right-icon"></i></a>
            </div>
            <!-- Page Navigation Section End -->
        </section>
        <!-- Main Content Section End -->
    </main>
    <!-- Main Section End -->

    <!-- Scripts Used in this project -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="../scripts/header.js"></script>
</html>
