<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gimesto</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css">
    <link rel="stylesheet" href="../gimesto.css" type="text/css" />
  </head>
  <body>
    <!-- Header Section Start -->
    <header class="header">
        <div class="logo">
            <a href="../index.html">Gimesto</a>  
        </div>
            <ul class="header-nav">
                <li>
                    <a href="https://github.com/vrx29/">
                        <i class="bi bi-github github-icon"></i>
                         github
                    </a>
                </li>
                <li>
                    <button class="menu">
                        <i id="menu-icon" class="bi bi-list"></i>
                    </button>
                </li>
            </ul>  
    </header>
    <!-- Header Section End -->

    <!-- Main Section Start -->
    <main class="doc-container">
        <!-- Sidebar Section Start -->
        <nav class="sidebar">
            <!-- Getting Started Navigation Start -->
            <div>
                <div class="list-topic">
                    <a  href="#">GETTING STARTED</a>
                </div>
                <ul class="list-subtopic">
                    <li >
                        <a href="/components/installation.html">Installation</a>
                    </li>
                    <li>
                        <a href="/components/colors.html">Colors</a>
                    </li>
                    <li>
                        <a href="/components/typography.html">Typography</a>
                    </li>
                </ul>
            </div>
            <!-- Getting Started Navigation End -->

            <!-- Components Navigation Start -->
           <div>
                <div class="list-topic">
                    <a class="" href="#">COMPONENTS</a>
                </div>
                <ul class="list-subtopic">
                    <li>
                        <a href="/components/avatar.html">Avatar</a>
                    </li>
                    <li>
                        <a href="/components/alert.html">Alert</a>
                    </li>
                    <li>
                        <a href="/components/badge.html">Badge</a>
                    </li>
                    <li>
                        <a href="/components/button.html">Button</a>
                    </li>
                    <li>
                        <a href="/components/card.html">Card</a>
                    </li>
                    <li>
                        <a href="/components/image.html">Image</a>
                    </li>
                    <li>
                        <a href="/components/input.html">Input</a>
                    </li>
                    <li>
                        <a href="/components/text.html">Text Utilites</a>
                    </li>
                    <li>
                        <a href="/components/lists.html">Lists</a>
                    </li>
                    <li>
                        <a href="/components/navigation.html">Navigation</a>
                    </li>
                    <li>
                        <a href="/components/modal.html">Modal</a>
                    </li>
                    <li>
                        <a  href="/components/rating.html">Rating</a>
                    </li>
                    <li>
                        <a class="active" href="#">Toast</a>
                    </li>
                    <li>
                        <a href="/components/grid.html">Grid</a>
                    </li>
                </ul>
            </div>
            <!-- Components Navigation End -->
        </nav>
        <!-- Sidebar Section End -->

        <!-- Main Content Section Start -->
        <section class="doc-content">
            <h2 class="title">Toast</h2>
            <p class="subtitle">Sometimes also called as snackbar. It is used to display some information like feedback message and info before performing any action.</p>

            <div class="output-cont">
                <div class="toast">
                    <span class="toast-msg">Please provide info regarding the issue so that</span>
                    <button class="btn btn-icon">
                            <i class="bi bi-x"></i>        
                    </button>
                </div>
                <div class="toast toast-success">
                    <span class="toast-msg">Please provide info regarding the issue so that</span>
                    <button class="btn btn-icon">
                            <i class="bi bi-x"></i>        
                    </button>
                </div>
                <div class="toast toast-error">
                    <span class="toast-msg">Please provide info regarding the issue so that</span>
                    <button class="btn btn-icon">
                            <i class="bi bi-x"></i>        
                    </button>
                </div>
                <div class="toast toast-warning">
                    <span class="toast-msg">Please provide info regarding the issue so that</span>
                    <button class="btn btn-icon">
                            <i class="bi bi-x"></i>        
                    </button>
                </div>
            </div>
            
            <!-- Code Snippet Section Start -->
            <div>
                <pre>
                    <code class="html hljs xml">
                        &lt;div class="toast toast-success"&gt;
                            &lt;span class="toast-msg"&gt;Please provide info regarding the issue so that&lt;/span&gt;
                            &lt;button class="btn btn-icon"&gt;
                                    &lt;i class="bi bi-x"&gt;&lt;/i&gt;   
                            &lt;/button&gt;
                        &lt;/div&gt;
                    </code>
                </pre>
            </div>   
            <!-- Code Snippet Section End -->

            <!-- Page Navigation Section Start -->
           <div class="page-navigation">
                <a class="navigation-prev" href="/components/rating.html"><i class="bi bi-caret-left-fill left-icon"></i>Rating</a>
                <a class="navigation-next" href="/components/grid.html" >Grid<i class="bi bi-caret-right-fill right-icon"></i></a>
            </div>
            <!-- Page Navigation Section End -->
        </section>
        <!-- Main Content Section End -->
    </main>
    <!-- Main Section End -->

    <!-- Scripts Used in this project -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="../scripts/header.js"></script>
</html>
