.avatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin: 0 0.7rem;
}
.avatar-xs {
  width: 1.5rem;
  height: 1.5rem;
}
.avatar-sm {
  width: 2rem;
  height: 2rem;
}
.avatar-md {
  width: 2.5rem;
  height: 2.5rem;
}
.avatar-lg {
  width: 3rem;
  height: 3rem;
}
.avatar-xl {
  width: 3.5rem;
  height: 3.5rem;
}
