.badge {
  position: relative;
}
.badge > div {
  position: absolute;
  height: 14px;
  width: 14px;
  bottom: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: var(--COLOR-PRIMARY);
  border: 2px solid var(--COLOR-LIGHT);
}
.badge .online {
  background-color: var(--COLOR-SUCCESS);
}
.badge .busy {
  background-color: var(--COLOR-ERROR);
}
.badge .offline {
  background-color: var(--COLOR-GRAY-400);
}
.badge .away {
  background-color: var(--COLOR-WARNING);
}
.badge .sharing {
  background-color: var(--COLOR-ERROR);
}
.badge .sharing::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 6px;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -3px;
  border-radius: 10px;
  background-color: var(--COLOR-LIGHT);
}

/* Icon badge Styling */
.badge .icon-badge {
  border-radius: 0;
}
.badge .number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  height: 18px;
  width: 18px;
  border: none;
  top: 1px;
  right: 8px;
  border-radius: 50%;
  color: var(--COLOR-LIGHT);
}

/* pill badge Styling */
.pill {
  font-size: 75%;
  font-weight: 700;
  line-height: 1.4em;
  padding: 0.1rem 0.5rem;
  margin: 0 0.1rem;
  background-color: var(--COLOR-PRIMARY);
  color: var(--COLOR-LIGHT);
  border-radius: 5px;
}
.pill-secondary {
  background-color: var(--COLOR-SECONDARY);
}
.pill-danger {
  background-color: var(--COLOR-ERROR);
}
.pill-warning {
  background-color: var(--COLOR-WARNING);
}
.pill-success {
  background-color: var(--COLOR-SUCCESS);
}
