/* || Default Button CSS */
.btn {
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  max-height: 40px;
  letter-spacing: 0.25px;
  font-weight: 500;
  color: var(--COLOR-LIGHT);
  border-radius: 4px;
  border: transparent;
  outline: none;
  cursor: pointer;
  background-color: var(--COLOR-DARK);
}

/* || Different Button Colors */
.btn-primary {
  background-color: var(--COLOR-PRIMARY);
}
.btn-primary:hover {
  background-color: var(--COLOR-PRIMARY-HOVER);
}
.btn-secondary {
  background-color: var(--COLOR-SECONDARY);
}
.btn-success {
  background-color: var(--COLOR-SUCCESS);
}
.btn-warning {
  background-color: var(--COLOR-WARNING);
}
.btn-error {
  background-color: var(--COLOR-ERROR);
}

/* || Outline Button CSS */
.outline {
  background-color: transparent;
  color: var(--COLOR-DARK);
  border: 1px solid var(--COLOR-DARK);
}
.outline-primary {
  background-color: transparent;
  color: var(--COLOR-PRIMARY);
  border: 1px solid var(--COLOR-PRIMARY);
}
.outline-secondary {
  background-color: transparent;
  color: var(--COLOR-SECONDARY);
  border: 1px solid var(--COLOR-SECONDARY);
}
.outline-warning {
  background-color: transparent;
  color: var(--COLOR-WARNING);
  border: 1px solid var(--COLOR-WARNING);
}
.outline-success {
  background-color: transparent;
  color: var(--COLOR-SUCCESS);
  border: 1px solid var(--COLOR-SUCCESS);
}
.outline-error {
  background-color: transparent;
  color: var(--COLOR-ERROR);
  border: 1px solid var(--COLOR-ERROR);
}

/* || Icons Button CSS */
.btn-icon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--COLOR-GRAY-200);
  background-color: transparent;
}
.btn-icon:hover {
  background-color: #95aaff33;
}

/* || Link Button CSS */
.btn-link {
  background-color: transparent;
  color: var(--COLOR-PRIMARY);
}
.btn-link:hover {
  background-color: var(--COLOR-LINK);
}

/* || Floating Button CSS */
.btn-floating {
  min-width: 0;
  min-width: 40px;
  min-height: 40px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--COLOR-PRIMARY);
}
.btn-floating:hover {
  background-color: var(--COLOR-PRIMARY-HOVER);
}
.btn i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
}
