/* || Default Button CSS */
.btn {
  min-width: 120px;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 40px;
  font-weight: 600;
  color: var(--COLOR-LIGHT);
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
  background-color: var(--COLOR-GRAY-100);
}
.btn:hover {
  background-color: var(--COLOR-PRIMARY-HOVER);
}
/* || Different Button Colors */
.btn-primary {
  background-color: var(--COLOR-PRIMARY);
}
.btn-secondary {
  background-color: var(--COLOR-SECONDARY);
}
.btn-success {
  background-color: var(--COLOR-SUCCESS);
}
.btn-warning {
  background-color: var(--COLOR-WARNING);
}
.btn-error {
  background-color: var(--COLOR-ERROR);
}

/* || Outline Button CSS */
.outline {
  background-color: transparent;
  color: var(--COLOR-DARK);
  border: 1px solid var(--COLOR-GRAY-100);
}
.outline-primary {
  background-color: transparent;
  color: var(--COLOR-PRIMARY);
  border: 1px solid var(--COLOR-PRIMARY);
}
.outline-secondary {
  background-color: transparent;
  color: var(--COLOR-SECONDARY);
  border: 1px solid var(--COLOR-SECONDARY);
}
.outline-warning {
  background-color: transparent;
  color: var(--COLOR-WARNING);
  border: 1px solid var(--COLOR-WARNING);
}
.outline-success {
  background-color: transparent;
  color: var(--COLOR-SUCCESS);
  border: 1px solid var(--COLOR-SUCCESS);
}
.outline-error {
  background-color: transparent;
  color: var(--COLOR-ERROR);
  border: 1px solid var(--COLOR-ERROR);
}

/* || Icons Button CSS */
.btn-icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--COLOR-PRIMARY);
}
.btn-icon:hover {
  background-color: var(--COLOR-PRIMARY-HOVER);
}
.btn-icon svg {
  margin-right: 1rem;
}

/* || Link Button CSS */
.btn-link {
  background-color: transparent;
  color: var(--COLOR-PRIMARY);
}
.btn-link:hover {
  background-color: var(--COLOR-LINK);
}

/* || Floating Button CSS */
.btn-floating {
  min-width: 0;
  min-width: 40px;
  min-height: 40px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--COLOR-PRIMARY);
  box-shadow: 1px 1px 4px 3px rgba(162, 89, 255, 0.43);
}
.btn-floating:hover {
  background-color: var(--COLOR-PRIMARY-HOVER);
}
.btn i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
}
