h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
}
h2 {
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
}
h3 {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
}
h4 {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
}
h5 {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}
h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}
.heading-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
