.header {
  height: 68px;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: var(--COLOR-LIGHT);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  color: var(--COLOR-DARK);
}

.logo {
  font-size: 1.2rem;
  font-weight: 800;
  cursor: pointer;
  color: var(--COLOR-PRIMARY);
}

.logo-text {
  color: var(--COLOR-WARNING);
}

.header-nav {
  list-style: none;
  display: flex;
  gap: 4px;
}

.header-nav li a {
  color: var(--COLOR-DARK);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.menu {
  display: none;
}

.header-nav li i {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .menu {
    font-size: 1.8rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: transparent;
    outline: none;
    border: none;
  }
}
