.hero {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  height: 80vh;
}
.hero > div {
  padding: 1rem;
  flex: 1 1 50%;
}
.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero-left .subtitle {
  margin-top: 1rem;
  width: 90%;
  color: var(--COLOR-GRAY-300);
}
.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img-cont {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
}
.terminal {
  position: relative;
  top: 0;
  left: 0;
}
.mover {
  position: absolute;
  top: -62px;
  right: -62px;
  z-index: -1;
  animation: spin 5s linear infinite;
}
@media screen and (max-width: 800px) {
  .hero {
    flex-direction: column-reverse;
    height: auto;
  }
  .hero-img-cont {
    margin-top: 2rem;
  }
}
