.sidebar {
  top: 6rem;
  height: 80vh;
  width: 220px;
  overflow-y: scroll;
  position: sticky;
  flex-shrink: 0;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.list-topic {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  color: #2c2c35;
}
.list-subtopic {
  list-style: none;
}
.list-subtopic li {
  padding: 0.5rem 1rem 0.5rem 0;
  color: #70707c;
}
.list-subtopic a:hover {
  padding-left: 0.5rem;
  transition: all 0.3s ease-in-out;
  color: var(--COLOR-PRIMARY);
  position: relative;
}
.active {
  padding-left: 0.5rem;
  width: 100%;
  font-weight: 600;
  color: var(--COLOR-PRIMARY);
  position: relative;
}

@media screen and (max-width: 800px) {
  .sidebar {
    display: none;
    padding-left: 2rem;
  }
  .sidebar-active {
    display: block;
    width: 100%;
  }
  .hide-doc {
    display: none;
  }
}
