/* || External files imported */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/* || Components */

@import url(./components/index.css);

/* || Documentation */
@import url(./documentation/header.css);
@import url(./documentation/hero.css);
@import url(./documentation/sidebar.css);
@import url(./documentation/content.css);
@import url(./documentation/footer.css);


/* || Utilities */
@import url(./utilities/anchor.css);
@import url(./utilities/animation.css);

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
body {
  max-width: 1368px;
  margin: auto;
}
